h1{text-align: center
}
ul{font-size: 200;
}
h2{color: rgb(201, 13, 13);
font-size: 300;
}
body{background-color: rgb(94, 92, 92);
}
h4 {font-size:250%;
 text-align: center;}
  h4{border:blue;
border-style:ridge;
border-width:8px;


 }